.features {
  display: flex;
  position: relative;
  margin: 0 auto;
}
.features__placeholderimg {
  max-width: 462px;
  max-height: 900px;
  width: 100%;
  margin: 80px 0px 40px 160px;
}
.features__yellowbean {
  position: absolute;
  max-width: 29.84%;
  top: -62px;
  right: 0px;
  z-index: -1;
}
.features__grid {
  margin: 80px 0px auto 80px;
  max-width: 1180px;
  display: grid;
  grid-template-areas:
    "title title"
    "topic1 topic2"
    "topic3 topic4";
  gap: 48px;
}
.features__grid-name {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.features__grid-pretitle {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  line-height: 22px;
  color: #d97706;
}
.features__grid-title {
  font-size: 56px;
  font-weight: bolder;
  line-height: 61.6px;
  padding: 0px;
  margin: 8px 0px 24px;
}
.features__grid-main-text {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
  line-height: 36px;
}
.features__grid-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: topic1;
  max-width: 566px;
  min-height: 181px;
}
.features__grid-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: topic2;
  max-width: 566px;
  min-height: 181px;
}
.features__grid-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: topic3;
  max-width: 566px;
  min-height: 181px;
}
.features__grid-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: topic4;
  max-width: 566px;
  min-height: 181px;
}
.features__grid-topic-title {
  font-size: 24px;
  line-height: 26.4px;
  margin: 0px;
  padding-bottom: 16px;
}
.features__grid-topic-text {
  font-size: 18px;
  line-height: 28.8px;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 1040px) {
  .features__placeholderimg {
    margin-left: 40px;
  }
  .features__grid {
    margin: auto 40px;
  }
}
@media screen and (max-width: 960px) {
  .features {
    flex-direction: column;
    text-align: center;
  }
  .features__placeholderimg {
    max-width: 46.87%;
    margin: 80px auto;
    padding-left: 15px;
  }
  .features__yellowbean {
    top: 750px;
    max-width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .features__grid-1,
  .features__grid-2,
  .features__grid-3,
  .features__grid-4 {
    justify-content: flex-start;
  }
  .features__yellowbean {
    top: 850px;
    max-width: 55%;
  }
}
@media screen and (max-width: 375px) {
  .features {
    max-width: 343px;
    flex-direction: column;
    text-align: center;
    /* overflow-x: hidden; */
  }
  .features__grid {
    margin: 0 auto;
    max-width: 343px;
  }
  /* - - - - - - - - - - - - -  -- -  - - -- - */
  .features__grid-pretitle {
    font-size: 16px;
    line-height: 17.6px;
    /* text-align: center; */
    margin: 0 auto;
  }
  .features__grid-title {
    font-size: 32px;
    line-height: 35.2px;
    margin: 8px auto 24px;
  }
  .features__grid-main-text {
    font-size: 16px;
    line-height: 22.4px;
    /* text-align: center; */
    margin: 0 auto;
    padding-bottom: 16px;
  }
  .features__grid-topic-title {
    font-size: 20px;
    line-height: 22px;
    /* text-align: center; */
  }
  .features__grid-topic-text {
    font-size: 16px;
    line-height: 22.4px;
    /* text-align: center; */
  }
  /* .features__grid-1,
  .features__grid-2,
  .features__grid-3,
  .features__grid-4 {
    justify-content: flex-start;
  } */
  .features__placeholderimg {
    max-width: 260px;
    margin: 64px auto 48px;
    padding-left: 20px;
  }
  .features__yellowbean {
    max-width: 90.66%;
    top: 695px;
    right: 0px;
  }
}
