.getthesun {
  background-color: #7e22ce;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.getthesun__header {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  padding: 80px 8.3% 80px 16.66%;
}
.getthesun__header-title {
  max-width: 894px;
}
.getthesun__pretitle {
  font-size: 20px;
  line-height: 22px;
  font-weight: medium;
  color: #fcd34d;
  margin: 0px 0px 8px 0px;
}
.getthesun__title {
  max-width: 880px;
  color: #fff;
  font-size: 56px;
  font-weight: bolder;
  line-height: 61.6px;
  margin: 0px;
}
.getthesun__header-ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getthesun__button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #fcd34d;
  padding: 20px 24px;
  background-color: rgba(0, 0, 0, 0);
  border: #fcd34d, solid, 2px;
  border-radius: 50px;
}
.getthesun__button-text {
  padding: 0px 24px;
  margin: 0px;
  text-wrap: nowrap;
}
.getthesun__button-arrow {
  margin: 0px;
  padding: 0px;
}
.getthesun__button-brownArrow {
  display: none;
  margin: 0px;
  padding: 0px;
}
.getthesun__button:hover {
  background-color: #fcd34d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #78350f;
  .getthesun__button-arrow {
    display: none;
  }
  .getthesun__button-brownArrow {
    display: flex;
  }
  cursor: pointer;
}
.getthesun__button-info {
  color: #fff;
  font-size: 18px;
  line-height: 28.8px;
  text-align: center;
}
.getthesun__purple-ellipse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}
.getthesun__macimg {
  width: 100%;
  max-width: 52.5%;
  margin: 0 auto 80px;
  filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
  margin-bottom: 80px;
}
.getthesun__purple-ellipse_mobile {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
@media screen and (max-width: 720px) {
  .getthesun {
    background-color: #581c87;
  }
  .getthesun__header {
    padding: 0px;
    margin: 40px auto;
    flex-direction: column;
    text-align: center;
    max-width: 95%;
  }
  .getthesun__purple-ellipse {
    display: none;
  }
  .getthesun__macimg {
    max-width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .getthesun {
    overflow-x: hidden;
    background-color: #581c87;
  }
  .getthesun__header {
    text-align: center;
    max-width: 358px;
    flex-direction: column;
    padding: 0px;
    margin: 48px auto 64px;
  }
  .getthesun__pretitle {
    font-size: 16px;
    line-height: 17.6px;
  }
  .getthesun__title {
    font-size: 32px;
    line-height: 35.2px;
  }
  .getthesun__button {
    margin-top: 24px;
  }
  .getthesun__button-info {
    font-size: 16px;
    line-height: 22.4px;
  }
  .getthesun__macimg {
    min-width: 358px;
    margin-bottom: 48px;
  }

  .getthesun__purple-ellipse_mobile {
    display: flex;
  }
}
