.header {
  position: relative;
  padding-bottom: 59px;
}
.header__bar {
  display: flex;
  justify-content: space-between;
  max-width: 1760px;
  margin: 0 auto;
  padding: 24px 80px;
}
.header__content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 128px; */
  max-width: 920px;
  margin: 27px 0px 0px 80px;
}
.header__title {
  max-width: 600px;
  font-size: 72px;
  font-weight: bolder;
  line-height: 79.2px;
  margin: 0px;
}
.header__subtitle {
  padding: 24px 0px;
  margin: 0px;
  font-size: 24px;
  max-width: 600px;
  line-height: 38.4px;
}
.header__button {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #581c87;
  padding: 20px 24px;
  background-color: rgba(0, 0, 0, 0);
  border: #581c87, solid, 2px;
  border-radius: 50px;
}
.header__button-text {
  padding: 0px 24px;
  margin: 0px;
}
.header__button-arrow {
  margin: 0px;
  padding: 0px;
}
.header__button-goldArrow {
  display: none;
  margin: 0px;
  padding: 0px;
}

.header__button:hover {
  background-color: #581c87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fcd34d;
  .header__button-arrow {
    display: none;
  }
  .header__button-goldArrow {
    display: flex;
  }
  cursor: pointer;
}
.header__quote-content {
  max-width: 600px;
  margin-top: 128px;
}
.header__quote-text {
  font-size: 18px;
  line-height: 28.8px;
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 16px 0px;
}
.header__quote-author {
  display: flex;
  align-items: center;
}
.header__quote-authorimg {
  width: 100%;
  max-width: 64px;
  padding-right: 16px;
}
.header__quote-authorname {
  font-size: 18px;
  margin: 0px;
  line-height: 28.8px;
}
.header__quote-authorlink {
  margin: 0px;
  font-size: 16px;
  line-height: 22.4px;
  color: #475569;
}
.header__backgroundImage {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  /* max-width: 35.05%; */
}

@media screen and (max-width: 1425px) {
  .header__backgroundImage {
    max-width: 40%;
  }
}
@media screen and (max-width: 375px) {
  .header__bar {
    padding: 0px 0px 32px 0px;
  }
  .header__backgroundImage {
    max-width: 81%;
  }
  .header__content {
    margin: 0 auto;
    max-width: 343px;
    padding-top: 280px;
  }
  .header__title {
    text-align: center;
    font-size: 40px;
    line-height: 44px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 28.8px;
    text-align: center;
  }
  .header__button {
    margin: 0 auto;
  }
  .header__quote-content {
    margin-top: 64px;
  }
  .header {
    padding-bottom: 48px;
  }
}
