.pickthesun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}
.pickthesun__text {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  max-width: 900px;
}
.pickthesun__pretitle {
  margin: 0px;
  font-size: 20px;
  font-weight: normal;
  line-height: 22px;
  color: #d97706;
}
.pickthesun__title {
  margin: 8px auto 24px;
  padding: 0px;
  font-size: 56px;
  font-weight: bolder;
  line-height: 61.6px;
}
.pickthesun__main-text {
  margin: 0px;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
}
.pickthesun__main-image {
  align-self: center;
  max-width: 1520px;
  /* width: 79%; */
  margin: 80px auto 0px;
  padding: 0px;
}
.pickthesun__purple-ellipse {
  position: absolute;
  max-width: 29.06%;
  top: 393px;
  right: 0px;
  z-index: -1;
  overflow: scroll;
}
.pickthesun__orange-ellipse {
  position: absolute;
  max-width: 36.97%;
  top: 190px;
  left: -208px;
  z-index: -1;
}
@media screen and (max-width: 375px) {
  .pickthesun {
    margin: 48px auto;
  }
  .pickthesun__orange-ellipse {
    max-width: 66.62%;
    top: 150px;
    left: -155px;
  }
  .pickthesun__text {
    max-width: 340px;
  }
  .pickthesun__pretitle {
    font-size: 16px;
    line-height: 17.6px;
  }
  .pickthesun__title {
    font-size: 32px;
    line-height: 35.2px;
  }
  .pickthesun__main-text {
    font-size: 16px;
    line-height: 22px;
  }
  .pickthesun__main-image {
    margin-top: 64px;
    max-width: 355px;
  }
  .pickthesun__purple-ellipse {
    top: 240px;
    right: -70px;
  }
}
